{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>My Trades</title>
    {% endblock %}
    {% block styles %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static 'exchanger/css/index.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'exchanger/css/trade.css' %}" type="text/css">
    {% endblock %}
</head>
<body>
{% block body %}
    {{ block.super }}
   <main>
        <div class="container-fluid container-padded-60" style="height: auto !important;">
            <div class="row">
                <div class="col-md-6">
                    <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
                        <option selected>Weapon</option>
                        <option value="1">Knife</option>
                        <option value="2">AK-47</option>
                        <option value="3">M4A1</option>
                    </select>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <div style="float:left;" id="trade_buttons">
                        <a class="btn btn-primary" href="{% url 'exchanger:trade' %}" data-original-title="" title="">
                            <strong>Post</strong> Trade</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid container-padded-60" style="height: auto !important; padding-top: 0;">
            <div class="col-md-9" style="height: auto !important; min-height: 0px !important;">
                <div class="row">
                    <div class="col-md-14" id="trades-list">
                        <div class="row trade-listing" id="trade-2285163">
                            {% for slot in slots %}
                                {% for item in slot.item_set.all %}
                                    <div class="col-md-14">
                                        <div class="panel panel-default panel-simpletrade ">
                                            <div class="panel-heading">
                                                <div class="row trades-heading">
                                                    <div class="user-heading col-md-10">
                                                        <img class="radiused trade-userimg"
                                                             src="{{ user.avatar }}"
                                                             alt="782ff688a1ce213ad6c324ea551a97d07cb25054"
                                                             style="display: inline;">
                                                        <a href="{{ user.inventory.trade_link }}" data-toggle="tooltip"
                                                           data-html="true" title="" class="user-profile-link"
                                                           data-original-title="Show Space Cowboy profile page">
                                                            <strong>
                                                                {{ user.personaname }}</strong>
                                                        </a>
                                                        wants to trade
                                                        <span class="dimmed timed">(Created at <strong><span>{{ slot.added_at }}</span></strong>)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="left items_have col-md-5">
                                                        <div class="steamitem-wrapper " style="float: left;">

                                                            <div class="steamitem itemsmall normal "
                                                                    {#                                                             style="border-bottom: 4px solid #eb4b4b;"#}
                                                                 data-type="normal"
                                                                 data-title="{{ item.name }}" data-container="body"
                                                                 data-trigger="hover" data-placement="top" data-count="1"
                                                                 data-id="{{ item.item_id }}"
                                                                 data-displayname="{{ item.market_name }}"
                                                                 data-assetid="62396023" data-original-title="" title="">
                                                                <div class="steamitem-counter"></div>
                                                                <div class="steamitem-price" style="display: block;">
                                                                    {{ item.lowest_price }}
                                                                </div>
                                                                <div class="steamitem-image">
                                                                    <img src="{{ item.image_link|add:"/100fx60f" }}" alt="{{ item.name }}"
                                                                         style="display: inline;">
                                                                </div>
                                                                <div class="steamitem-itemwear ">
                                                                    {{ item.type }}
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="for_arrow col-md-2">
                                                        <div class="v-center">
                                                            <div class="transfer-arrows"><span
                                                                    class="glyphicon glyphicon glyphicon-transfer"
                                                                    id="transfer"><i class="fas fa-exchange-alt"></i></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="left items_want col-md-5">
                                                        <div class="steamitem-wrapper" style="float: left;">
                                                            <div class="steamitem itemsmall " data-id="2430" data-count="1" data-type="other" data-title="Any Offers" data-displayname="Any Offers" data-original-title="" title="">
                                                                <div class="steamitem-image">
                                                                    <img src="{% static 'exchanger/img/any_offers.png' %}" alt="Any offers">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer panel-actions">
                                                <a href="{% url 'exchanger:bump_trade' slot.id %}" title="" class="btn btn-custom btn-xs " data-original-title="Bump this trade">
                                                    Bump
                                                </a>
                                                <a href="{% url 'exchanger:close_trade' slot.id %}" class="btn btn-primary btn-xs close_trade">
                                                     Close
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
</body>
</html>